.auth {

}

.auth__title {
	text-align: center;
	font-size: 26px;
	margin-bottom: 40px;
	color: darkred;
}

.auth__form {
	width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.auth__input {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: 17px;
}
.auth__input:focus {
	box-shadow: 0 0 10px 1px lightskyblue;
}

.auth__pass {
	position: relative;
	width: 100%;
	padding: 0;
}
.auth__eye {
	position: absolute;
	top: 20%;
	right: 20px;
	cursor: pointer;
}

.auth__btn {
	font-size: 17px;
	background: lightskyblue;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.auth__btn:hover {
	background: lightblue;
}
.auth__btn:active {
	transform: translate(1px, 1px);
}

.auth__link {
	width: 100%;
	text-align: right;
	color: red;	
	margin-bottom: 20px;
	padding: 0 10px;
}