.authorized {
	order: 4;
	position: relative;
	padding: 10px;
	border: 1px solid teal;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.authorized:hover {
	background: rgb(157, 237, 237);
}

.authorized__menu {
	position: absolute;
	top: 120%;
	right: 0;
	padding: 10px 20px;
	border: 2px solid rgb(241, 103, 53);
	border-radius: 20px;
	background: #fff;
	line-height: 30px;
}

.menu__item {
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.menu__item:hover {
	color: rgb(241, 103, 53);
}
.menu__item span {
	margin-right: 10px;
}