@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	height: 100%;
	box-sizing: border-box;
	background-color: #edecf2;
	font-family: 'Roboto', sans-serif;
}

header, footer, div, p, h1, span, input, button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

h1 {
	font-size: 20px;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

button, input, textarea {
	border: none;
	outline: none;
}
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
select, option {
	outline: none;
	border: none;
}

#root {
	height: 100%;
	width: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 1028px;
	margin: 0 auto;
}
